.wrapper__bookmarks
    ul#bookmarksContainer
        li
            a(href="https://startpage.com")
                img(src="https://www.startpage.com/favicon.ico", alt="x")
                span startpage.com
        li
            a(href="https://youtube.com")
                img(src="https://www.youtube.com/favicon.ico", alt="x")
                span youtube.com
        li
            a(href="https://old.reddit.com")
                img(src="https://old.reddit.com/favicon.ico", alt="x")
                span reddit.com
        li
            a(href="https://duckduckgo.com")
                img(src="https://www.duckduckgo.com/favicon.ico", alt="x")
                span duckduckgo.com
        li
            a(href="https://imgur.com")
                img(src="https://www.imgur.com/favicon.ico", alt="x")
                span imgur.com
        li
            a(href="https://bbc.co.uk")
                img(src="https://www.bbc.co.uk/favicon.ico", alt="x")
                span bbc.co.uk
        li
            a(href="https://news.ycombinator.com")
                img(src="https://news.ycombinator.com/favicon.ico", alt="x")
                span hacker news
