.wrapper__search#searchWrapper
    input#searchInput(type='search', autofocus="on", autocomplete="off")
    button#searchButton.wrapper__search__submitBtn
        img(src="img/icon/search.svg", alt="")
    .searchHelp !g {query} Google &bull; !s {query} Startpage
