.bookmarksSettings {
    &__settings {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    &__bookmarks {
        ul {
            &#listBookmarks {
                margin-bottom: 1rem;
            }

            li {
                display: grid;
                grid-template-columns: 1fr 8fr 8fr 3fr;
                grid-gap: 1rem;
                align-items: center;

                &:not(:last-of-type) {
                    margin-bottom: 1rem;
                }

                img {
                    width: 25px;
                    height: 25px;
                }

                input[type='text'] {
                    margin: 0;
                    width: 100%;
                }

                .btn {
                    margin: 0;
                }
            }
        }
    }
}

.wrapper__bookmarks {
    grid-area: bookmarks;
    margin-top: 3rem;
    transition: opacity var(--transition-long);

    &.hidden {
        visibility: hidden;
        opacity: 0;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: 1.5rem;
        width: 80vw;
        max-width: 1000px;

        @include for-mobile {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 2rem;
        }

        li {
            a {
                display: flex;
                align-items: center;
                background-color: var(--light-40);
                border-radius: 4px;
                text-decoration: none;
                color: var(--dark);
                transition: background-color var(--transition-medium);
                padding: 0.5rem;

                @supports (backdrop-filter: blur()) {
                    backdrop-filter: blur(4px);
                }

                &:hover {
                    background-color: var(--light);

                    img {
                        opacity: 1;
                    }
                }

                img {
                    width: 24px;
                    height: 22px;
                    margin-right: 0.4rem;
                    opacity: 0.4;
                    transition: opacity var(--transition-medium);
                }

                span {
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }
            }
        }
    }
}
