.btn {
    padding: 0.75rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    align-self: flex-start;
    cursor: pointer;
    margin-left: 1rem;
    transition: background-color var(--transition-short);

    &.btn-primary {
        background-color: var(--primary);
        color: var(--light);

        &:hover {
            background-color: var(--primary-dark);
        }
    }

    &.btn-light {
        background: var(--gray);

        &:hover {
            background-color: var(--gray-dark);
        }
    }
}
