.wrapper__search {
    grid-area: search;
    position: relative;
    margin-top: 2rem;

    @include for-mobile {
        margin: 3rem 0 2.5rem 0;
    }

    &.showHelp {
        input {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .searchHelp {
            visibility: visible;
            opacity: 1;
        }

        .wrapper__search__submitBtn {
            border-bottom-right-radius: 0px;
        }
    }

    input {
        width: 100%;
        font-size: 1.5rem;
        padding: 0.7rem;
        padding-right: 3.2rem;
        background-color: transparent;
        border: 2px solid var(--light-50);
        color: var(--light);
        border-radius: 6px;
        transition-property: background-color border-color;
        transition: var(--transition-short);

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &:focus,
        &:valid {
            background-color: var(--light-10);
            border-color: var(--light-20);
            outline: none;

            @supports (backdrop-filter: blur()) {
                backdrop-filter: blur(4px);
            }
        }
    }

    &__submitBtn {
        position: absolute;
        right: 2px;
        top: 2px;
        bottom: 2px;
        padding: 0.95rem;
        background-color: transparent;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        cursor: pointer;
        border: none;
        transition: background var(--transition-short);

        &:hover {
            background: rgba(white, 0.15);
        }

        &:active {
            background: rgba(white, 0.5);
        }
    }

    .searchHelp {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: var(--light-30);
        color: var(--background);
        left: 0;
        right: 0;
        padding: 1rem;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        transition: all var(--transition-long);
        display: flex;
        justify-content: space-evenly;

        @supports (backdrop-filter: blur()) {
            backdrop-filter: blur(4px);
        }

        &__item {
            display: flex;
            align-items: center;
        }

        &__input {
            background-color: var(--dark);
            color: var(--light);
            padding: 0.25rem;
            border-radius: 3px;
            margin-right: 0.5rem;
        }
    }
}
