.wrapper__search {
    grid-area: search;
    position: relative;
    margin-top: 1.5rem;

    @include for-mobile {
        margin: 3rem 0 2.5rem 0;
    }

    &.showHelp {
        input {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .searchHelp {
            visibility: visible;
            opacity: 1;
        }
    }

    input {
        width: 100%;
        font-size: 1.5rem;
        padding: 0.5rem;
        padding-right: 3rem;
        background-color: transparent;
        border: 1px solid var(--light);
        color: var(--light);
        border-radius: 6px;

        &:focus {
            box-shadow: 0px 0px 10px 1px #f1e4e850;
            outline: none;
        }
    }

    &__submitBtn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 0.75rem;
        background-color: transparent;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        cursor: pointer;
        border: none;
        transition: background 150ms;

        &:hover {
            background: rgba(white, 0.15);
        }

        &:active {
            background: rgba(white, 0.5);
        }
    }

    .searchHelp {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        background-color: var(--light);
        color: var(--background);
        left: 0;
        right: 0;
        padding: 1rem;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        box-shadow: 0px 0px 10px 1px #f1e4e850;
        transition: all 200ms;
        display: flex;
        justify-content: space-evenly;

        &__item {
            display: flex;
            align-items: center;
        }

        &__input {
            background-color: var(--dark);
            color: var(--light);
            padding: 0.25rem;
            border-radius: 3px;
            margin-right: 0.5rem;
        }
    }
}
