.loading #settingsToggle {
    transform: translateY(-100px);
}

.loaded #settingsToggle {
    transition: transform var(--transition-long) 150ms,
        opacity var(--transition-short);
}

#settingsToggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    background: none;
    padding: 1rem;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.1;

    &:hover {
        opacity: 1;
    }
}

.settings {
    display: none;
    visibility: visible;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity var(--transition-medium);

    &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    &__underlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.5);
        z-index: 11;
    }

    &__inner {
        padding: 2rem;
        border-radius: 15px;
        background-color: var(--dark-90);
        color: var(--light);
        z-index: 12;
        width: 70vw;
        max-width: 800px;
        max-height: 70vh;
        overflow-y: auto;

        @supports (backdrop-filter: blur()) {
            background-color: var(--dark-70);
            backdrop-filter: blur(4px);
        }

        @include for-mobile {
            width: 95vw;
            padding: 1.5rem;
        }
    }

    &__area {
        &:not(:last-of-type) {
            margin-bottom: 2.5rem;
        }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        p {
            margin-bottom: 1.5rem;
            font-size: 0.75rem;
            line-height: 1.5;
            opacity: 0.85;
        }

        label {
            text-transform: uppercase;
            font-size: 0.7rem;
            margin: 0 0 0.75rem 0;
        }

        select,
        input[type='text'] {
            margin: 0 0 1rem 0;
            padding: 0.5rem;
            background-color: #fff;
            border: 2px solid var(--gray);
            border-radius: 4px;

            &:focus-visible,
            &:focus {
                outline: none;
                border-color: var(--gray-darker);
            }

            &.error {
                border-color: var(--danger-dark);
                background-color: var(--danger);
            }
        }
    }
}
