.loading #settingsToggle {
    transform: translateY(-100px);
}

.loaded #settingsToggle {
    transition: transform var(--transition-long) 150ms,
        opacity var(--transition-short);
}

#settingsToggle {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 20;
    background: none;
    padding: 0.5rem;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.1;

    &:hover {
        opacity: 1;
        transform: rotate(30deg);
    }
}

.settings {
    display: none;
    visibility: visible;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity var(--transition-medium);

    &.loading {
        opacity: 0;
        display: flex;
        visibility: visible;
        transition: opacity var(--transition-medium);

        .settings__content {
            transform: translateY(-100px);
            transition: transform var(--transition-medium);
        }
    }

    &.show {
        opacity: 1;
        transition: opacity var(--transition-medium);

        .settings__content {
            transform: translateY(0);
            transition: transform var(--transition-medium);
        }
    }

    &__underlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.5);
        z-index: 11;
    }

    &__content {
        position: relative;
        padding: 2rem;
        border-radius: 3px;
        background-color: var(--dark-90);
        color: var(--light);
        z-index: 12;
        width: 70vw;
        max-width: 800px;
        height: 40vh;

        @supports (backdrop-filter: blur()) {
            background-color: var(--dark-70);
            backdrop-filter: blur(4px);
        }

        @include for-mobile {
            width: 95vw;
            padding: 1.5rem;
        }

        &__tabs {
            display: flex;
            position: absolute;
            top: -40px;

            li {
                padding: 0.75rem 1rem;
                background-color: var(--light-50);
                color: var(--dark);
                margin-right: 1rem;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                cursor: pointer;

                &.active {
                    background-color: var(--dark-90);
                    color: var(--light);

                    @supports (backdrop-filter: blur()) {
                        background-color: var(--dark-70);
                        backdrop-filter: blur(4px);
                    }
                }
            }
        }

        &__inner {
            overflow-x: hidden;
            overflow-y: scroll;
            max-height: 100%;

            &::-webkit-scrollbar {
                width: 0;
                background: transparent;
            }

            // &::-webkit-scrollbar-thumb {
            //     background: #ff0000;
            // }
        }
    }

    &__area {
        opacity: 0.2;
        transition: opacity var(--transition-short);

        &:not(:last-of-type) {
            border-bottom: 1px solid var(--light-20);
            padding-bottom: 2rem;
            margin-bottom: 2rem;
        }

        &.active {
            opacity: 1;
        }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        p {
            margin-bottom: 1.5rem;
            font-size: 0.75rem;
            line-height: 1.5;
            opacity: 0.85;
        }

        label {
            text-transform: uppercase;
            font-size: 0.7rem;
            margin: 0 0 0.75rem 0;
        }

        select,
        input[type='text'] {
            margin: 0 0 1rem 0;
            padding: 0.5rem;
            background-color: #fff;
            border: 2px solid var(--gray);
            border-radius: 4px;

            &:focus-visible,
            &:focus {
                outline: none;
                border-color: var(--gray-darker);
            }

            &.error {
                border-color: var(--danger-dark);
                background-color: var(--danger);
            }
        }
    }
}
