body {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.moon {
        background-image: url('img/background-moon.jpg');

        .wrapper {
            background-color: rgba(#130f0c, 0.92);
        }
    }

    &.mountain {
        background-image: url('img/background-mountain.jpg');

        .wrapper {
            background-color: rgba(#353945, 0.85);
        }
    }

    &.cat {
        background-image: url('img/background-cat.jpg');

        .wrapper {
            background-color: rgba(#644b44, 0.75);
        }
    }

    &.nlights {
        background-image: url('img/background-nlights.jpg');

        .wrapper {
            background-color: rgba(#001b2c, 0.78);
        }
    }
}

.themeSettings {
    display: flex;
    flex-direction: column;

    #randomTheme {
        position: relative;
        cursor: pointer;
        padding: 1rem;
        border: 4px solid var(--dark);
        background-color: var(--dark);
        color: var(--light);
        border-radius: 8px;
        text-transform: uppercase;
        letter-spacing: 7px;
        font-weight: bold;

        &.selected {
            &:after {
                position: absolute;
                content: url('img/icon/check.svg');
                height: 24px;
                width: 24px;
                top: 14px;
                right: 0.5rem;
            }
        }
    }

    &__options {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        &__toggle {
            position: relative;
            width: 165px;
            height: 165px;
            border: 4px solid var(--dark);
            border-radius: 8px;
            color: transparent;
            cursor: pointer;
            background-image: url('img/background-moon.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all 200ms;

            &:hover {
                box-shadow: 0px 0px 10px 1px rgba(black, 0.5);
            }

            &.selected {
                &:after {
                    position: absolute;
                    content: url('img/icon/check.svg');
                    height: 24px;
                    width: 24px;
                    bottom: 0.5rem;
                    right: 0.5rem;
                }
            }

            &.active {
                border-color: var(--success);
                box-shadow: 0px 0px 10px 1px rgba(black, 0.5);
            }

            &[data-id='moon'] {
                background-image: url('img/background-moon.jpg');
            }

            &[data-id='mountain'] {
                background-image: url('img/background-mountain.jpg');
            }

            &[data-id='cat'] {
                background-image: url('img/background-cat.jpg');
            }

            &[data-id='nlights'] {
                background-image: url('img/background-nlights.jpg');
            }
        }
    }
}
