.weatherSettings {
    display: flex;
    flex-direction: column;

    label {
        margin: 0 0 0.5rem 0;
    }

    select,
    input[type='text'] {
        margin: 0 0 0.5rem 0;
        padding: 0.5rem;
        background-color: #fff;
        border: 2px solid rgba(black, 0.2);
        border-radius: 3px;

        &:focus-visible,
        &:focus {
            outline: none;
            border-color: var(--dark);
        }

        &.error {
            border-color: var(--danger-dark);
            background-color: var(--danger);
        }
    }

    .btn {
        padding: 0.75rem;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        align-self: flex-start;
        cursor: pointer;
        margin-left: 1rem;

        &.btn-primary {
            background: var(--primary);
            color: var(--light);

            &:hover {
                background-color: var(--primary-dark);
            }
        }

        &.btn-light {
            background: var(--gray);

            &:hover {
                background-color: var(--gray-dark);
            }
        }
    }

    &__update {
        display: flex;
        align-items: center;

        &__text {
            color: var(--danger-dark);
            margin-right: auto;
        }
    }
}
