.wrapper__weather {
    position: relative;

    #weatherDisplayLocation {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.35;
        font-size: 0.65rem;

        @include for-mobile {
            display: none;
        }
    }
}

.weatherSettings {
    display: flex;
    flex-direction: column;

    label {
        margin: 0 0 0.5rem 0;
    }

    select,
    input[type='text'] {
        margin: 0 0 0.5rem 0;
        padding: 0.5rem;
        background-color: #fff;
        border: 2px solid rgba(black, 0.2);
        border-radius: 3px;

        &:focus-visible,
        &:focus {
            outline: none;
            border-color: var(--dark);
        }

        &.error {
            border-color: var(--danger-dark);
            background-color: var(--danger);
        }
    }

    &__update {
        display: flex;
        align-items: center;

        &__text {
            margin-right: auto;

            &.error {
                color: var(--danger-dark);
            }

            &.success {
                color: var(--success);
            }
        }
    }
}
