.settings__area(data-tab="bookmarks")
    h2 Bookmarks
    p Add, remove and modify your bookmarks.
    .bookmarksSettings
        .bookmarksSettings__settings
            .checkbox
                input#showBookmarks(type="checkbox", name="showBookmarks")
                label(for="showBookmarks")
                    span Show Bookmarks
                    span Toggles the rendering of bookmarks under search.
            .checkbox
                input#showIcons(type="checkbox", name="showIcons")
                label(for="showIcons")
                    span Show Website Icons
                    span Toggles the rendering of website favicons next to bookmark. 
        .bookmarksSettings__bookmarks
            ul#listBookmarks
            ul
                li
                    span
                    input#newBookmarkUrl(type="text", name="newBookmarkUrl", placeholder="url")
                    input#newBookmarkText(type="text", name="newBookmarkText", placeholder="text")
                    button#newBookmarkSubmit.btn.btn-primary Add
