.settings__area(data-tab="date")
    h2 Date
    .checkbox
        input#showWeekNumber(type="checkbox", name="showWeekNumber")
        label(for="showWeekNumber")
            span Show Week Number
            span Toggles the rendering of week number. Eg "Week 22".
