.settings__area
    h2 Theme
    p Select a theme to use permanently, or select random to use a different theme on every load. The tick indicates what is selected.
    .themeSettings
        .themeSettings__options
            button.themeSettings__options__toggle(data-id="mountain") Mountain
            button.themeSettings__options__toggle(data-id="moon") Moon
            button.themeSettings__options__toggle(data-id="cat") Cat
            button.themeSettings__options__toggle(data-id="nlights") Northern Lights
            button.themeSettings__options__toggle#randomTheme Random