.settings__area
    h2 Weather
    .weatherSettings
        label(for="weatherCountry") Country
        select#weatherCountry(name="weatherCountry")
            each country in countries
                option(value=country.code) #{country.name}
        label(for="weatherCity") City Name
        input#weatherCity(type="text", name="weatherCity")
        .weatherSettings__update
            button.btn.btn-primary#weatherSave Update Location
            button.btn.btn-light#weatherReset Reset
            span#weatherInfo.weatherSettings__update__text
