@import '../../node_modules/reset-css/sass/reset';

:root {
    --background: #2d2d34;
    --dark: #2d2d34;
    --light: #f1e4e8;
    --gray: #e2dcde;
    --danger: #b97375;
}

body {
    font-family: monospace;
    font-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);

    * {
        box-sizing: border-box;
    }

    &.moon {
        background-image: url('img/background-moon.jpg');

        .wrapper {
            background-color: rgba(#2d2d34, 0.95);
        }
    }

    &.mountain {
        background-image: url('img/background-mountain.jpg');

        .wrapper {
            background-color: rgba(#2d2d34, 0.8);
        }
    }

    &.beach {
        background-image: url('img/background-beach.jpg');

        .wrapper {
            background-color: rgba(#2d2d34, 0.7);
        }
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    #settingsToggle {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 20;
        background: none;
        padding: 1rem;
        color: white;
        border: none;
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    &__inner {
        width: 80vw;
        max-width: 1000px;
    }

    &__welcome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;

        span {
            font-weight: bold;
        }
    }

    &__extra {
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        span {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img#weatherIcon {
            width: 50px;
            height: 50px;
        }
    }

    &__search {
        position: relative;

        &.showHelp {
            input {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .searchHelp {
                visibility: visible;
                opacity: 1;
            }
        }

        input {
            width: 100%;
            font-size: 1.5rem;
            padding: 0.5rem;
            background-color: transparent;
            border: 1px solid var(--light);
            color: var(--light);
            border-radius: 6px;

            &:focus {
                box-shadow: 0px 0px 10px 1px #f1e4e850;
                outline: none;
            }
        }

        .searchHelp {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            background-color: var(--light);
            color: var(--background);
            left: 0;
            right: 0;
            padding: 1rem;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            box-shadow: 0px 0px 10px 1px #f1e4e850;
            transition: all 200ms;
        }
    }
}

.settings {
    display: none;
    visibility: visible;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    transition: opacity 200ms;

    &.show {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    &__underlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(black, 0.5);
        z-index: 11;
    }

    &__inner {
        background-color: var(--light);
        padding: 2rem;
        border-radius: 6px;
        color: var(--dark);
        z-index: 12;
        width: 70vw;
        max-width: 800px;

        h2 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .themeSettings {
            display: flex;
            justify-content: space-between;
        }
    }
}
