@import '../../node_modules/reset-css/sass/reset';

:root {
    --background: #2d2d34;
    --dark: #2d2d34;
    --light: #f1e4e8;
    --gray: #e2dcde;
    --danger: #b97375;
}

body {
    font-family: monospace;
    font-size: 16px;
    background-image: url('img/background-alt.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light);

    * {
        box-sizing: border-box;
    }
}

.wrapper {
    background-color: rgba(#2d2d34, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    &__inner {
        width: 80vw;
        max-width: 1000px;
    }

    &__welcome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;

        span {
            font-weight: bold;
        }
    }

    &__extra {
        opacity: 0.5;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        span {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        img#weatherIcon {
            width: 50px;
            height: 50px;
        }
    }

    &__search {
        position: relative;

        &.showHelp {
            input {
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }

            .searchHelp {
                visibility: visible;
                opacity: 1;
            }
        }

        input {
            width: 100%;
            font-size: 1.5rem;
            padding: 0.5rem;
            background-color: transparent;
            border: 1px solid var(--light);
            color: var(--light);
            border-radius: 6px;

            &:focus {
                box-shadow: 0px 0px 10px 1px #f1e4e850;
                outline: none;
            }
        }

        .searchHelp {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            background-color: var(--light);
            color: var(--background);
            left: 0;
            right: 0;
            padding: 1rem;
            border-bottom-right-radius: 6px;
            border-bottom-left-radius: 6px;
            box-shadow: 0px 0px 10px 1px #f1e4e850;
            transition: all 200ms;
        }
    }
}
