@import '../../node_modules/reset-css/sass/reset';
@import './mixins/media';

@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
}

:root {
    --background: #2d2d34;
    --dark: #2d2d34;
    --light: #f1e4e8;
    --gray: #e2dcde;
    --gray-dark: #{darken(#e2dcde, 10%)};
    --danger: #b97375;
    --danger-dark: #{darken(#b97375, 25%)};
    --success: #98c9a3;
    --primary: #206ead;
    --primary-dark: #{darken(#206ead, 10%)};
    --transition-short: 150ms ease-in-out;
    --transition-medium: 250ms ease-in-out;
    --transition-long: 350ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition-short: 0ms;
        --transition-medium: 0ms;
        --transition-long: 0ms;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    color: var(--light);

    * {
        box-sizing: border-box;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 1rem;

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'greeting time' 'date weather' 'search search';
        width: 80vw;
        max-width: 1000px;

        @include for-mobile {
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            grid-template-areas: 'time' 'date' 'search' 'weather';
        }
    }

    &__welcome {
        grid-area: greeting;
        font-size: 2rem;

        @include for-mobile {
            display: none;
        }

        span {
            font-weight: bold;
        }
    }

    &__time {
        grid-area: time;
        display: flex;
        font-size: 2rem;
        justify-content: flex-end;

        @include for-mobile {
            justify-content: center;
            font-size: 2.5rem;
        }
    }

    &__date {
        grid-area: date;
        display: flex;
        align-items: center;
        opacity: 0.65;

        @include for-mobile {
            justify-content: center;
        }
    }

    &__weather {
        grid-area: weather;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include for-mobile {
            justify-content: center;
        }

        span {
            opacity: 0.65;
        }

        img#weatherIcon {
            width: 50px;
            height: 50px;
        }
    }
}

@import 'components/buttons';
@import 'components/settings';
@import 'components/themes';
@import 'components/search';
@import 'components/weather';
