doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='main.css')
    title Start
  body
    .wrapper#main
      button#settingsToggle
        img(src='img/icon/settings.svg')
      .wrapper__inner
        .wrapper__welcome
          h1 Good&nbsp;
            span#welcomeContainer Day
          .wrapper__welcome__time#timeContainer 00:00:00
        .wrapper__extra
          span#dateDisplay Monday 22nd January
          span
            img#weatherIcon(src='https://openweathermap.org/img/wn/04n.png')
            span#weatherDisplay Sunny 10 Degrees
        .wrapper__search#searchWrapper
          input#searchInput(type='search', autofocus)
          .searchHelp !g {query} Google &bull; !s {query} Startpage

    .settings#settingsContainer
      .settings__underlay#settingsUnderlay
      .settings__inner
        h2 Settings
        h3 Theme
        .themeSettings
          .themeSettings__options
            button.themeSettings__options__toggle(data-id="mountain") Mountain
            button.themeSettings__options__toggle(data-id="moon") Moon
            button.themeSettings__options__toggle(data-id="cat") Cat
            button.themeSettings__options__toggle(data-id="nlights") Northern Lights
          button#randomTheme Random
  script(src='bundle.js')