doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='main.css')
    title Start
  body
    .wrapper#main
      button#settingsToggle
        img(src='img/icon/settings.svg')
      .wrapper__inner
        include html/welcome.pug
        include html/time.pug
        include html/date.pug
        include html/weather.pug
        include html/search.pug
    include html/settings.pug
  script(src='bundle.js')