doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='main.css')
    title Start
  body 
    .wrapper
      .wrapper__inner
        .wrapper__welcome
          h1 Good&nbsp;
            span#welcomeContainer Day
          .wrapper__welcome__time#timeContainer 00:00:00
        .wrapper__date
          span#dateDisplay Monday 22nd January
        .wrapper__search
          input(type='search', autofocus)
  script(src='bundle.js')